# Based on http://conda.pydata.org/docs/travis.html
language: python
sudo: false # use container based build
notifications:
  email: false

matrix:
  fast_finish: true

python:
  - 2.7
  - 3.6

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.8
      - g++-4.8

env:
  - CONDA_PACKAGES="numpy scipy cython pandas bcolz pytest future xarray dask scikit-image"
  - PIP_PACKAGES="tqdm codecov pytest-cov"
# need to use include
#  - CC="gcc-4.8"

before_install:
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - if [[ "$TRAVIS_PYTHON_VERSION" == "3.6" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a


install:
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION $CONDA_PACKAGES
  - source activate test-environment
  - gcc -v
  - pip install $PIP_PACKAGES
  - CC=gcc-4.8 CXX=g++-4.8 python setup.py build_ext --inplace
  - pip install -e .

script:
  - py.test floater --cov=floater --cov-config .coveragerc --cov-report term-missing -v

after_success:
  - codecov
